/* Album-ify! css */

/* Main {{{ */

html,
body {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 50px 0 50px;
    width: 100%;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 10px;
}

.wrap {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
}

/* }}} */

/* Text {{{ */

h1 {
    color: #444444;
    display: block;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #505050;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h3 {
    color: #505050;
    display: block;
    font-size: 1.5em;
    margin: 10px auto 10px;
    width: 80%;
}

.title {
    width: 70%;
}

p {
    color: #707070;
    display: block;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
}

#descText {
    margin-top: 10px;
}

a,
a:visited {
    color: #466688;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    transition: .2s;
}

a:hover {
    color: #869ABF;
}

#home {
    left: 20px;
    position: absolute;
    top: 20px;
}

hr {
    border: 0;
    border-top: 3px solid #70838c;
    margin: 25px auto;
    opacity: .3;
    width: 90%;
}

/* }}} */

/* Input {{{ */

input,
textarea {
    background: #F7F7F7;
    border: none;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .9em;
    height: 25px;
    margin: 10px auto;
    padding: 5px 0 5px 10px;
    transition: .2s;
    width: 300px;
}

input:focus {
    background: #E2E2E2;
}

textarea {
    height: 125px;
    padding: 10px 0 10px 10px;
}

#atitleInput {
    display: block;
}

.label {
    color: #A1A1A1;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: 300px;
}

.number {
    color: #707070;
    display: block;
    margin: 20px auto;
    text-align: left;
    width: 90%;
}

.link {
    display: block;
    font-size: 1.2em;
    margin: 20px auto;
    overflow-wrap: break-word;
    text-align: left;
    width: 80%;
    word-wrap: break-word;
}

/* }}} */

/* Buttons {{{ */

button {
    border: none;
    display: inline-block;
    font-size: 1em;
    margin: 15px 2px 15px;
    transition: .2s;
    width: 150px;
    height: 50px;
}

#generate {
    background: #D6EBCD;
    color: #468847;
}

#generate:hover {
    background: #BCE4AA;
}

#addFrame {
    background: #BCD0EB;
    color: #466688;
}

#addFrame:hover {
    background: #A0B7E4;
}

/* }}} */
